.search {
  width: 90%;
  display: flex; 
  flex-direction: row;
  justify-content: space-between;
  align-items: center; 
}

.container {
  padding: 0 1rem 0 1rem;
  background: #FFFFFF;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  width: 250px;
  height: 46px;
  border-radius: 8px 8px 8px 8px;
  border: solid 1px #DFDFDF;
  outline: none;
}

input {
  border: none;
  outline: none;
  background: #FFFFFF;
  height: 44px;
  width: 90%;
}

.search div img {
  /* border: solid 1px black; */
  cursor: pointer;
  background: #FFFFFF;
  height: 40px;
  width: 40px;
}

.outlined {
  outline: solid 1px black;
  
}

@media screen and (max-width: 600px) {
  .search {
    width: 90%;
    margin-bottom: 1rem;
    display: flex; 
    flex-direction: column;
    align-items: start; 
  }
  
  input {
    width: 80%;
    margin-left: 1rem;
  }

  .container {
    width: 100%;
    padding: 0;
  }
}