.table {
  width: 90%;
  background: #FFFFFF;
  border-collapse: collapse;
  overflow: hidden;
  border-radius: 8px 8px 0 0;
  font-family: 'roboto',;
}

.th:first-child, .td:first-child {
  padding-left: 2rem;
}

.th, .td {
  width: calc(100% / 5);
  text-align: start;
  height: 50px;
}


.thead {
  text-transform: uppercase;
  height: 47px;
  background: linear-gradient(#5A84C0, #594ED2);
  color: white;
}

.bodyTr {
  border: solid 1px rgba(0, 0, 0, 0.1);
  color: #1C1C1C;
}

.img {
  margin: 0 auto;
  width: 34px;
  height: auto;
  border-radius: 50%;
  overflow: hidden;
}

.mobileOnly {
  display: none;
}

.data-mobile {
  display: none;
}

@media screen and (max-width: 600px) {
  .ellipse {
    border-radius: 50%;
    width: 8px;
    height: 8px;
    margin: 0 auto;
    background: #FFFFFF;
  }

  .table th, .table td {
    text-align: center;
  }

  .table th:first-child, .table td:first-child {
    padding: 0;
  }

  .mobileOff {
    display: none;
  }

  .mobileOnly {
    display: table-cell;
  }

  .bodyTr {
    border: none;
    border-top: solid 1px rgba(0, 0, 0, 0.1);
  }
  
}